.idea/
.pub/
build/
pubspec.lock
.packages
*.ng_meta.json
*.ng_summary.json
packages/ld35/ng2/
packages/intl/
packages/angular2_components/
packages/isowosi_angular2_components/
packages/browser/
packages/analyzer/
packages/angular2/
