* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#gamecontainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}

game-container {
  margin: 0 auto;
  width: 600px;
  height: 600px;
  max-width: 600px;
}

#loading > .text {
  color: white;
}

#loading > .spinner {
  margin: 10px auto 10px auto;
  height: 28px;
  width: 28px;
  animation: rotate 1.2s infinite linear;
  -webkit-animation: rotate 1.2s infinite linear;
  border: 8px solid #4285f4;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

@-webkit-keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
