* {
  margin: 0;
  padding: 0;
  font-family: Verdana, SansSerif;
  font-size: large;
  background-color: black;
  list-style: none;
}

html, body {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  margin: 10px auto 10px auto;
  height: 28px;
  width: 28px;
  animation: rotate 1.2s infinite linear;
  -webkit-animation: rotate 1.2s infinite linear;
  border: 8px solid darkgreen;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

@-webkit-keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

#startGame {
  display: none;
}

p {
  margin-top: 10px;
}

#story {
  color: olivedrab;
  width: 600px;
  margin: auto;
  opacity: 1.0;
  transition-property: opacity;
  transition-duration: 1s;
}

canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.0;
  transition-property: opacity;
  transition-duration: 0.5s;
  cursor: none;
  background-color: transparent;
}

button {
  background-color: darkgreen;
  color: lime;
  padding: 15px;
  margin: 10px 0 10px 0;
}

table {
  width: 100%;
}

tr > td, tr > th {
  text-align: left;
}

h2 {
  color: seagreen;
}